<div id="text-home" class="text-center">
  <h1>Cocktails:</h1>
  <div>
    <ul class="list-inline">
    <% @cocktails.each do |cocktail|%>
      <li>
      <%= image_tag cocktail.picture.url(:medium) %>
      <p><%=cocktail.name%> ||
      <%= link_to "Show", cocktail_path(cocktail) %> |
      <%= link_to "Delete", cocktail_path(cocktail),
          method: :delete,
          data: { confirm: "Are you sure?" } %> ||
      </p>
    <% end %>
    </li>
    </ul>
  </div>
</div>

