.nav {
  width: 300px;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(200, 200, 200, 0.3);
  box-shadow: 0 0 0px transparent;

  a {
    color: #ffb2b2;
    font-size: 20px;
  }

  img {
    padding: 20px;
  }
}
