/* -------------------------------------
 * You killer form SASS module
 * ------------------------------------- */

 input.button-picture {
  display: inline;
  margin-left: 100px;
 }

 .form-input {
  margin-left: 350px;
  margin-right: 350px;
 }
